.navbar {
  background-color: #0c1013;
}

.navbar-list {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
  padding: 10%;
}

.navbar-img {
  max-width: 20%;
  height: auto;
}

.navbar-item {
  flex: 1 100%;
  padding: 10px;
}

.navbar-item a {
  color: #dae2e4;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 6px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-item a:hover {
  color: #d7232d;
}

/* @media only screen and (min-width: 768px) {} */
