.navbar {
  background-color: #0c1013;
  min-height: 325px;
}

.navbar-list {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 10%;
  min-height: 300px;
}

.navbar-img {
  max-width: 30%;
  height: auto;
}

.navbar-item {
  flex: 1 100%;
  padding: 15px;
}

.navbar-link {
  color: #dae2e4;
  display:inline-block;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 200ms ease;
}

.navbar-link:hover {
  color: #d7232d;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    min-height: 125px;
  }

  .navbar-list {
    min-height: 100px;
    padding: 5%;
  }

  .navbar-item:nth-child(2) {
    padding-left: 100px;
  }

  .navbar-item {
    align-self: center;
    flex: initial;
  }

  .navbar-img {
    max-width: 100%;
  }

}
